body {
    font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
    line-height: normal;
    padding: 0;
    margin: 0;
}

header {
    height: 200px;

}

footer {
    height: 100px;
}

header, footer {
    background-color: #333333;
    color: #FFFFFF;
    width: 100%;
}

.main-menu {
    font-weight: normal;
}

#btn-new {

}

nav {
    width: 250px;
    height: 150px;
    float: right;

}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
    border: 1px solid #ffffff ;
    margin: 17px 0;
    width: 100%;
    display: block;
}

.gallery-pic {
    background-image: url("pic/gallery.png");
}

nav a:hover {
    background-color: #730927;
}

article {
    max-width: 80%;
    margin: 0 auto;
}

.username {
    color: #730927;
    font-size: 1.5em;
    font-weight: bolder;
}

.gallery {
    width: auto;
    box-sizing: border-box;
}

.logo-img {
    position: relative;
    left: 20px;
    top: 24px;
    width: 150px;
}

.logo {
    position: relative;
    top: -10px;
    margin-left: 20px;
    font-size: 3em;
    font-weight: normal;
    text-transform: uppercase;
}

.menu-pic {
    display: inline-block;
    position: relative;
    left: -25px;
    width: 25px;
    height: 25px;
    background: url("pic/login.png") no-repeat 0 0;
}

#error {
    border: 1px dotted #ff0000;
    font-size: 1.5em;
    padding: 10px;
    background-color: rgba(255, 0, 0, .2);
}