body {
    font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
    line-height: normal;
    padding: 0;
    margin: 0;
}

header {
    height: 200px;

}

footer {
    height: 100px;
}

header, footer {
    background-color: #333333;
    color: #FFFFFF;
}

.main-menu {
    font-weight: normal;
}

#btn-new {

}

nav {
    width: 100px;
    height: 150px;
    float: right;
    margin-right: 60px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
    border: 1px solid #ffffff ;
    margin-right: 0;
    width: 140px;
    display: block;
}

nav a:hover {
    background-color: #730927;
}

article {
    max-width: 80%;
    margin: 0 auto;
}

.username {
    color: #730927;

}

.gallery {

}