body {
    font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
    line-height: normal;
}

header {
    height: 200px;
    padding: 20px;
}

footer {
    height: 100px;
}

header, footer {
    background-color: #333333;
    color: #FFFFFF;
}

.main-menu {
    font-weight: normal;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 20px;

}

#btn-new {
    position: relative;
    top: 100px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
    border: 1px solid #ffffff ;
}

nav a:hover {
    background-color: #C70039;
}

article {
    max-width: 80%;
    margin: 0 auto;
}

.username {
    color: #C70039;
    position: relative;
    left: 80%;
}

.gallery {

}